[submodule ".local/share/nvim/site/pack/plugins/start/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-cmp"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule ".local/share/nvim/site/pack/plugins/start/cmp-nvim-lsp"]
	path = .local/share/nvim/site/pack/plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule ".local/share/nvim/site/pack/plugins/start/cmp-buffer"]
	path = .local/share/nvim/site/pack/plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule ".local/share/nvim/site/pack/plugins/start/vim-airline"]
	path = .local/share/nvim/site/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
