[submodule ".local/share/nvim/site/pack/plugins/start/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-cmp"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule ".local/share/nvim/site/pack/plugins/start/cmp-nvim-lsp"]
	path = .local/share/nvim/site/pack/plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule ".local/share/nvim/site/pack/plugins/start/cmp-buffer"]
	path = .local/share/nvim/site/pack/plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule ".local/share/nvim/site/pack/plugins/start/lurline"]
	path = .local/share/nvim/site/pack/plugins/start/lurline
	url = https://github.com/hoob3rt/lualine.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/vim-devicons"]
	path = .local/share/nvim/site/pack/plugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
